/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

:root {
    --text: #1A1A1A;
    --verde: #00B172;
}

html{
    font-size: 62.5%; /** 1REM = 10pX **/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Nav-bar */

#navbar{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0;
    padding: 1rem;
    height: 5rem;
}

/* #navbar img{
    width: 20rem;
} */

#navbar > div ul{
    display: flex;
    list-style: none;
    color: var(--text);
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

#navbar > div ul li{
    margin: 1.5rem 0.8rem 0 0.8rem;
}

#navbar > div ul li:hover{
    border-bottom: var(--verde) 0.3rem solid;
}

/* Hero Banner */

#hero-banner{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
}


#hero-banner:hover {
    background-image: url(https://static.wixstatic.com/media/d33fc4_069b53667d5a4b3d8768cc644e3d5381~mv2.gif);

    transition-property: background-image;
    transition-duration: 1s;
    transition-timing-function:linear;
    transition-delay: 1s;
}

#hero-banner h1{
    color: #fff;
    text-align: center;
    font-size: 10rem;
    margin-bottom: 0;
}

#hero-banner h2{
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 0;
}

